<h1 class='page-header'>Log Game</h1>

<%= form_for @game do |f| %>
  <table>
  <tr>
    <td>Date Played:</td>
    <td><%= f.date_select :played_at, order: [:month, :day, :year] %></td>
  </tr>
  <tr>
    <td>Opponent:</td>
    <td><%= select_tag :opponent_id, options_from_collection_for_select(@game.users(current_user), :id, :email) %></td>
  </tr>
  <tr>
    <td>Your Score:</td>
    <td><%= text_field_tag :score%></td>
  </tr>
  <tr>
    <td>Their Score:</td>
    <td><%= text_field_tag :opponent_score %></td>
  </tr>
  </table>
  <%= f.submit :Save %>
  <%= link_to :cancel, root_path %>
<% end %>